<div class="row px-5">
    <div class="col-12">
        <div class="row">
            <div class="col-auto">
                <a href="@Url.Action("Listado", "Personal")" class="btn btn-primary btn-sm mb-3">
                    <i class="fa-solid fa-arrow-left"></i> Regresar
                </a>
            </div>
        </div>

        <!-- Barra de tabs -->
        <div class="row">
            <div class="col-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#informacion-personal">Información General</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#asignacion-pacientes">Asignación Pacientes</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#permisos-acceso-personal">Permisos de Acceso</button>
                    </li>
                </ul>

                <!-- Contenido de las tabs -->
                <div class="tab-content mt-3" style="position: relative; height: 800px; overflow: hidden; background-color: #f9f9f9;">
                    <div class="container">
                        <div class="row">
                            <!-- Información del empleado -->
                            <div class="col-md-12 tab-pane fade show active" id="informacion-personal" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; overflow-y: auto; padding: 20px;">
                                <div class="container-form ms-5 mt-4 mx-auto p-4 rounded shadow-lg" style="max-width: 900px; background-color: #f9f9f9;">
                                    <h3 class="text-center mb-4">Información del Empleado</h3>
                                    <div class="row g-3">
                                        <!-- Nombre -->
                                        <div class="col-md">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" id="PersonalNombre" value="Ignasio Miranda" readonly>
                                                <label for="PersonalNombre">Nombre</label>
                                            </div>
                                        </div>

                                        <!-- Fecha de contratación -->
                                        <div class="col-md">
                                            <div class="form-floating">
                                                <input type="date" class="form-control" id="PersonalFechaContratacion" value="2023-02-15" readonly>
                                                <label for="PersonalFechaContratacion">Fecha de contratación</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row g-3 mt-2">
                                        <!-- Alias -->
                                        <div class="col-md">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" id="PersonalAlias" value="Ignacio" readonly>
                                                <label for="PersonalAlias">Alias</label>
                                            </div>
                                        </div>

                                        <!-- Edad -->
                                        <div class="col-md">
                                            <div class="form-floating">
                                                <input type="number" class="form-control" id="PersonalEdad" value="45" readonly>
                                                <label for="PersonalEdad">Edad</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row g-3 mt-2">
                                        <!-- Correo -->
                                        <div class="col-md">
                                            <div class="form-floating">
                                                <input type="email" class="form-control" id="PersonalCorreo" value="ignasio.miranda@email.com" readonly>
                                                <label for="PersonalCorreo">Correo</label>
                                            </div>
                                        </div>

                                        <!-- Cédula -->
                                        <div class="col-md">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" id="PersonalCedula" value="123456789" readonly>
                                                <label for="PersonalCedula">Cédula</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row g-3 mt-2">
                                        <!-- Especialidad -->
                                        <div class="col-md">
                                            <div class="form-floating">
                                                <select class="form-select" id="PersonalEspecialidad" disabled>
                                                    <option value="geriatrica" selected>Fisioterapia Geriátrica</option>
                                                    <option value="deportiva">Fisioterapia Deportiva</option>
                                                    <option value="pediatrica">Fisioterapia Pediátrica</option>
                                                    <option value="neurologica">Fisioterapia Neurológica</option>
                                                </select>
                                                <label for="PersonalEspecialidad">Especialidad</label>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Foto -->
                                    <div class="row g-3 mt-2">
                                        <div class="col-md text-center">
                                            <img src="https://images.pexels.com/photos/1844547/pexels-photo-1844547.jpeg" class="img-fluid" alt="Foto de empleado" style="max-width: 150px;">
                                        </div>
                                    </div>

                                    <!-- Botones Editar y Eliminar -->
                                    <div class="row g-2 mt-4 text-center">
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-warning w-100" id="editarEmpleado">Editar</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-danger w-100" id="eliminarEmpleado">Eliminar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Asignaciones de Pacientes -->
                            <div class="col-md-12 tab-pane fade" id="asignacion-pacientes" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; overflow-y: auto; padding: 20px;">
                                <div class="container-form ms-5 mt-4 mx-auto p-4 rounded shadow-lg" style="max-width: 900px; background-color: #f9f9f9;">
                                    <h3 class="text-center mb-4">Asignaciones de Pacientes</h3>
                                    <a href="@Url.Action("AsignarPaciente", "Administrador")" class="btn btn-primary mb-3 col-md-4 col-xl-2">
                                        <i class="fa-solid fa-plus"></i>
                                    </a>
                                    <!-- Lista de Asignaciones -->
                                    <div class="list-group">
                                        <!-- Paciente  -->
                                        <div class="list-group-item d-flex justify-content-between align-items-center">
                                            <div>
                                                <p><strong>Paciente:</strong> Juan Pérez</p>
                                                <p><strong>Estado:</strong> Asignado</p>
                                            </div>
                                            <div>
                                                <button class="btn btn-warning btn-sm" id="editarAsignacion1">Editar</button>
                                                <button class="btn btn-danger btn-sm" id="eliminarAsignacion1">Eliminar</button>
                                            </div>
                                        </div>
                                        <!-- Paciente -->
                                        <div class="list-group-item d-flex justify-content-between align-items-center">
                                            <div>
                                                <p><strong>Paciente:</strong> Maria Gómez</p>
                                                <p><strong>Estado:</strong> Asignado</p>
                                            </div>
                                            <div>
                                                <button class="btn btn-warning btn-sm" id="editarAsignacion2">Editar</button>
                                                <button class="btn btn-danger btn-sm" id="eliminarAsignacion2">Eliminar</button>
                                            </div>
                                        </div>
                                        <!-- Paciente -->
                                        <div class="list-group-item d-flex justify-content-between align-items-center">
                                            <div>
                                                <p><strong>Paciente:</strong> Carlos Soto</p>
                                                <p><strong>Estado:</strong> Asignado</p>
                                            </div>
                                            <div>
                                                <button class="btn btn-warning btn-sm" id="editarAsignacion3">Editar</button>
                                                <button class="btn btn-danger btn-sm" id="eliminarAsignacion3">Eliminar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Permisos de Acceso -->
                            <div class="col-md-12 tab-pane fade" id="permisos-acceso-personal" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; overflow-y: auto; padding: 20px;">
                                <div class="container-form ms-5 mt-4 mx-auto p-4 rounded shadow-lg" style="max-width: 900px; background-color: #f9f9f9;">
                                    <h3 class="text-center mb-4">Permisos de Acceso</h3>

                                    <div class="row g-3">
                                        <!-- Permiso-->
                                        <div class="col-md">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="permisoArchivos" checked>
                                                <label class="form-check-label" for="permisoArchivos">
                                                    Acceso a Archivos
                                                </label>
                                            </div>
                                        </div>

                                        <!-- Permiso -->
                                        <div class="col-md">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="permisoPacientes" checked>
                                                <label class="form-check-label" for="permisoPacientes">
                                                    Acceso a Pacientes
                                                </label>
                                            </div>
                                        </div>

                                        <!-- Permiso -->
                                        <div class="col-md">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="permisoConfiguracion">
                                                <label class="form-check-label" for="permisoConfiguracion">
                                                    Configuración del Sistema
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Botón de Guardar Permisos -->
                                    <div class="row g-2 mt-4 text-center">
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-primary w-100" id="guardarPermisos">Guardar Permisos</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function () {
        $("#tablaTratamientos").DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/2.1.8/i18n/es-ES.json',
            },
            responsive: true,
            columnDefs: [
                {
                    targets: [8],
                    orderable: false,
                    className: 'text-center'
                }
            ]
        });
        $("#tablaArchivos").DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/2.1.8/i18n/es-ES.json',
            },
            responsive: true,
            order: [[2, 'desc']],
            columnDefs: [
                {
                    targets: [5],
                    className: 'text-center',
                    orderable: false
                }
            ]
        });
    });
</script>
