<div class="row mx-5 rounded bg-light">
    <!-- First column with image -->
    <div class="col-2">
    </div>
    <div class="col-sm-12 col-md-2 d-flex justify-content-center align-items-center">
        <img class="img-fluid" src="~/Recursos/img/logos/Logo Boena-01.png" height="200px" width="200px" alt="Alternate Text" />
    </div>

    <!-- Second column with text -->
    <div class="col-sm-12 col-md-6 d-flex justify-content-center align-items-center">
        <div class="text-center">
            <div class="display-1 mb-2">
                Servicio de Spa
            </div>
            <div class="display-5 fw-semibold">
                Formulario de masaje
            </div>
        </div>
    </div>
    <div class="col-2">
    </div>
</div>
